.wrapper{
    background-image: url(../images/background-image.png);
    height: auto;
    z-index: 0;
}
html, body{
    height: 100%;
    
}
.container{
    background: white;
}
.content{
    max-height: 960px;
    margin-left: 25%;
    padding: 2%;
    max-width: 50%;
    background: white;
}
h2{
    padding: 2%;
    color: #4aaaa5;
}
.light-line{
    width: auto;
    max-width: 98%;
    margin: 1%;
    height: 2px;
    background: #4aaaa5;
}
.responsive{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 20px;
}