h1{
    padding: 1%;
    color: white;
    background: #666666;
}
.wrapper{
    background-image: url(../images/background-image.png);
    height: auto;
    z-index: 0;
}
html, body{
    height: 100%;  
}
.content{
    max-height: 960px;
    margin-left: 25%;
    margin-bottom: 10%;
    padding: 2%;
    max-width: 50%;
    background: white;
}
.footer-line{
    width: 100%;
    margin: 0;
    height: 10px;
}
h2{
    padding: 2%;
    color: #4aaaa5;
}
.light-line{
    width: auto;
    max-width: 98%;
    margin: 1%;
    height: 2px;
    background: #4aaaa5;
}
.responsive{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 20px;
}
.img-fluid{
    width: 100%;
    max-height: 150px;
}
.bottom-centered {
    color:white;
    position: absolute;
    width: 100%;
    top: 60%;
}
.description-text{
    font-weight: bolder;
}